/*
 Documento CSS da Thankyou Page
 Seguindo os padrÃµes do Bootstrap - http://getbootstrap.com/css/#grid-media-queries
 Criador: Weslei Silveira - www.wesleisilveira.com.br
 Data: 08/11/2017
 */

/* ------------------------------------------------------------------------------- */
/* Large devices (large desktops, 1200px and up) - col-lg-*
/* ------------------------------------------------------------------------------- */

@media (min-width: 1200px) {}

/* ------------------------------------------------------------------------------- */
/* Medium devices (desktops, 992px and up) - col-md-*
/* ------------------------------------------------------------------------------- */

@media (min-width: 992px) {}

/* ------------------------------------------------------------------------------- */
/* Small devices (tablets, 768px and max 991px) - col-sm-*
/* ------------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 991px) {}

/* ------------------------------------------------------------------------------- */
/* Extra small devices (phones, less than 768px) - col-xs-*
/* ------------------------------------------------------------------------------- */

@media (max-width: 767px) {

	/* ------------------------------ */
	/* General
	/* ------------------------------ */

	.img-responsive {
		margin: 0 auto 20px;
	}

	/* ------------------------------ */
	/* About
	/* ------------------------------ */

	#about img {
		margin-top: 30px;
	}

	#social p {
		margin-bottom: 20px;
	}

}